@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Raleway/raleway-light.woff2"),
    url("../../fonts/Raleway/raleway-light.woff");
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Comfortaa/comfortaa.woff2"),
    url("../../fonts/Comfortaa/comfortaa.woff");
  font-display: swap;
}

@font-face {
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/AmaticSC/AmaticSC-Bold.woff2"),
    url("../../fonts/AmaticSC/AmaticSC-Bold.woff");
  font-display: swap;
}
