$tablet-width: 768px;
$desktop-width: 1440px;
$max-phone: 767px;
$bg-color: #fbfcfe;
$bg-secondary: #f1f6fc;
$bg-alt: #8e9892;
$text-main: #000000;
$text-alt: rgba(142, 152, 146, 0.7);
$decorate-color: #6a107a;
$decorate-alt: #0f805d;
$text-hover: #7bdb0a;
$button-hover: #b22ec8;
$shadow-color: #580d65;
$error-color: #ff8282;
